VITE_API_BASE_URL=http://localhost:8000/api/v1
OPEN_FOOD_FACTS_API_URL=https://world.openfoodfacts.org/api/v3.6/product
VITE_GOOGLE_MAPS_PLACES_BASE_URL=https://places.googleapis.com/v1
VITE_GOOGLE_MAPS_PLACES_API_KEY=YOUR_API_KEY
